/* iPad sideways */
@media only screen and (min-width: 1179px) {  
  .wrapper {
    top: 55%;
  }
  #certificate {
    width: 700px;
    height: 490px;
  }
  .shadow {
    width: 700px;
    height: 490px;
  }
  #header {
    top: 7.5%;
    font-size: 70px;
  }
  #award {
    font-size: 50px;
  }
  #footer {
		position: absolute;
		font-size: 25px;
		color: black;
		left: 25%;
		transform: translateX(-50%);	
    top: 5%;
    display: block;
  }  
  #linkedin {
    position: absolute;
		right: 25%;
		transform: translateX(50%);
		font-size: 25px;
		color: black;
    top: 96%;
    z-index: 4;
  }  
  .bottom-banner {
    height: 55px;
    top: 95.5vh;
    display: block;
  }
} 

/* iPad upright */
@media only screen and (min-width: 810px) {  
  .wrapper {
    top: 50%;
  }
  #certificate {
    width: 600px;
    height: 420px;
  }
  .shadow {
    width: 600px;
    height: 420px;
  }
  #header {
    top: 7%;
    font-size: 50px;
  }
  #award {
    font-size: 50px;
  }  
  #footer {
    position: absolute;
		font-size: 20px;
		color: black;
		left: 25%;
		transform: translateX(-50%);	
    top: 10%;
    display: block;
  }  
  #linkedin {
    position: absolute;
		right: 25%;
		transform: translateX(50%);
		font-size: 20px;
		color: black;
    top: 96%;
    z-index: 4;
  }  
  .bottom-banner {
    height: 55px;
    top: 95.5vh;
    display: block;
  }
} 


/* iPhone upright */
@media only screen and (min-width: 389px) {  
  .wrapper {

  }
  #certificate {


  }
  .shadow {


  }
  #header {
    top: 56px;
    font-size: 23px;
  }
  #award {
    font-size: 20px;
    top: 90px;
  }  
  #footer {
    font-size: 23px;
    bottom: 20%;
  }  
  #linkedin {
    font-size: 20px;
    top: 15%;    
  }
  .bottom-banner {
    height: 40px;
    top: 85vh;
    display: block;
  }
} 

/* iPad sideways */
/* @media only screen and (min-width: 840px) {  
  .wrapper {
    top: 25%;
  }
  #certificate {
    width: 150px;
    height: 105px;
  }
  .shadow {
    width: 150px;
    height: 105px;
  }
  #header {
    top: 8%;
    font-size: 12px;
  }
  #award {
    font-size: 12px;
    bottom: 50%;
  }  
  #linkedin {
    font-size: 20px;
    left: 75%;
    top: 30%;
  }  
  #footer {
    font-size: 20px;
    left: 20%;
    top: 30%;
  }  
  .bottom-banner {
    height: 55px;
    top: 95.5vh;
    display: block;
  }
} */

