html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  width: 362.5px;
  margin-left: 50%;
  padding-top: 70px;
  padding-bottom: 500px;
  transform: translate(-50%);
}

body {
  background: linear-gradient(to bottom, #BDC3C7, #2C3E50);
  
}

#my_canvas {
  margin: auto;
}

p {
  position: absolute;
  top: 45px;
  left: 50%;
  transform: translate(-50%);
  white-space: nowrap;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: darkblue;
}
