html {
  color: #222;
  line-height: 1.4;
  width: 362.5px;
  padding-top: 0px;
  padding-bottom: 500px;
  transform: translate(-50%);
  margin-left: 50%;
}

body {
  background: linear-gradient(to bottom, #BDC3C7, #2C3E50);
}

#my_canvas {
  margin: auto;
}

p {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  white-space: nowrap;
  font-family: sans-serif;
  font-weight: 600;
  text-align: center;
  color: darkblue;
}

#opener {
  top: -10px;
  font-size: 50px;
}
#counter{
  top: 538px;
  left: 210px;
}