body {
    margin: 0;
    display: flex;
    margin-top: 45px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #BDC3C7, #2C3E50);
    padding-bottom: 200px;    
}

p {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    white-space: nowrap;
    font-family: sans-serif;
    font-weight: 600;
    text-align: center;
    color: #FFF;
}

a {
    color: #262626;
}

#opener {
    top: -7px;
    font-size: 20px;
}
#counter{
    top: 272px;
    left: 53.5%;
}

#troy-lodge {
    margin-left: 12%;
    display: block;
    width: 300px;
}
#about {
    text-align: center;
    width: 70%;
    white-space: normal;
}